/*! HTML5 Boilerplate v7.3.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html,
body {
  width: 100%;
  height: 100%;
}

header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
}

.desktop-nav {
  display: none;
}

.twothird-width {
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.third-width {
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}

.third-width i {
  padding-left: 40px;
  color:rgb(55, 192, 178);
}

.logo img {
  width: 10%;
  margin: 0;
  padding: 10px 10px 10px 0px;
}

figure {
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.header-nav h1 {
  font-family: 'Bebas Neue', cursive;
  font-size: 18px;
  font-weight: 100;
  padding-top: 5px;
}

.logo a {
  text-decoration: none;
}

.logo a:visited {
  color:black;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 10em;
  overflow: auto;
  z-index: 1;
  right: 0.313em;
}

.dropdown-content a {
  color: white;
  padding: 0.75em 1em;
  text-decoration: none;
  display: block;
  text-transform: uppercase;
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 1px;
  font-size: 19px;
}

.dropdown-content a:hover {
  color: #DCC600;
}

.show {
  display: block;
}

main {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.main-wrapper {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:90%;
}

.hero {
  width: 100%;
  height:100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height:10vh;
}

.mySlides {
  position: absolute;
  top:0;
  left:0;
  width:100%;
  padding-top: 5%;;
  object-fit: cover;
  z-index: -1;
  opacity:0;
  transition:opacity 1s ease-in-out;
}

.hero-text {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height:15vh;
  top:350px;
}

.hero-text p {
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: dharma-gothic-e, sans-serif;
  /*font-family: 'Open Sans', sans-serif;*/
  font-family: 'Bebas Neue', cursive;
  font-weight: 100;
  font-style: normal;
  text-align: center;
  font-size: 18px;
  letter-spacing: 1px;
  /*word-spacing: 1px;*/
  padding: 20px 0 40px 0;
  text-transform: uppercase;
}

.buttons {
  padding-top: 300px;
}

.button-wrap {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#buttonone {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: none;
  margin-top: 80px;
  background-color: #B5E5D8;
}

#buttontwo {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: none;
  margin-top: 80px;
  background-color: #56BFA7;
}

#buttonthree {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: none;
  margin-top: 80px;
  background-color: #DCC600; 
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttons img {
  width: 40%;
}

.buttons p {
  font-family: 'Open Sans', sans-serif;
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 1px;
  font-size: 16px;
}

.scripture {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 200px;
}

.scripture img {
  width: 60%;
}

.scripture p {
  width: 70%;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

.about-radio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  /*background-color: #F1F9F7;*/
  padding: 10px 0 10px 0;
  margin-top: 180px;
}


.biblepic {
  width: 100%;
}

.white-text-wrapper {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  width:100%;
}

.white-text-wrapper h2 {
  font-family: dharma-gothic-e, sans-serif;
  font-weight: 400;
  text-align: center;
  margin-bottom: 0;
  text-transform: uppercase;
  font-size: 28px;
  padding-bottom: 20px;
}

.white-text-wrapper p {
  width: 70%;
  text-align: center;
  margin-top: 0;
  font-size: 14px;
  font-family: dharma-gothic-e, sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
}

.white-text-wrapper a {
  color:#56BFA7;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  padding: 20px 0 35px 0;
  font-size: 18px;
}

.donate-area {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.donate-area button {
  /*border: #DCC600 solid 4px;*/
  border:none;
  background-color: #DCC600;
  background-color: #B5E5D8;
  background-color: #56BFA7;

  color: white;
  padding: 20px 40px;
  border-radius: 30px;
  margin: 90px 0;
  text-transform: uppercase;
  font-family: dharma-gothic-e, sans-serif;
  letter-spacing: 1px;
  font-size: 22px;
}

.donate-area a {
  color:white;
  text-decoration: none;
}

/*----------MOBILE FOOTER ----------*/


footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #DCC600;
  padding-top: 20px;
}

.social-med {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px 0 20px 0;
}

.social-med i {
  font-size:30px;
  margin: 0 50px;
  color:black;
}

.social-med a:visited {
  color:black;
}
.social-med a:active {
  color:black;
}

footer p {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  margin-top: 20px;
}


/*---------------MOBILE ABOUT PAGE-----------*/


.about-section {
  width:100%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #56BFA7;

  background-color: white;
  padding-bottom: 90px;
  margin-top: 30px;
}

.about-section img {
  width:100%;
}

#interviewphoto {
  box-shadow: 20px 20px 20px gray;
  border-radius: 10px;
}

.about-section h2 {
  font-family: 'Bebas Neue', cursive;
  font-family: dharma-gothic-e, sans-serif;
  letter-spacing: 1px;
 color:rgb(48, 48, 48);
  font-size: 45px;
  margin:10px;
  font-weight: normal;
  text-transform: uppercase;
}


.about-title {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:100%;
  padding: 40px 0 30px 0;
}

.about-title-desktop {
  display:none;
}

.about-title img {
  width:50%;
  opacity: 20%;
}

.about-divider {
  border: black solid 1px;
  width: 80%;
  margin-bottom: 40px;
}

.about-half {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:80%;
}

.about-half a {
  text-decoration: none;
  color:#56BFA7;
  font-weight: bold;
}

.about-section p {
  color:rgb(70, 70, 70);
  font-family: 'Open Sans', sans-serif;
}

.partners {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:100%;
  margin:0 auto;
  padding-top:50px;
  background-color: #DCC600;
}

.partners h2 {
  font-size: 36px;
  padding:10px;
  text-align: center;
  font-family: dharma-gothic-e, sans-serif;
  letter-spacing: 1px;
  font-weight: normal;
  text-transform: uppercase;
  color:white;
}

.partner-divider {
  width:70%;
  border:white solid 1.5px;
}


.partner-sections {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:100%;
}

.four-winds {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:80%;
  padding: 50px 0 130px 0;
}

.global-women {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:80%;
  padding-bottom: 50px;
  margin-bottom: 30px;
}

.four-winds h3 {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size:18px;
  margin:0 auto;
  color:white;
}

.four-winds-desc a {
  text-decoration: none;
}

.four-winds a {
  display:flex;
  justify-content: center;
  align-items: center;
}

.global-women h3 {
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size:18px;
  text-align: center;
  margin:0 auto;
  color:white;
}

.global-women a {
  display:flex;
  justify-content: center;
  align-items: center;
}
.gw-desc a {
  text-decoration: none;
}

.four-winds img {
  padding-top: 20px;
  width:60%;
}

/*.global-women img {
  width:50%;
  padding: 20px 0 50px 0;
}*/

.ccclogo {
  width:50%;
  padding: 20px 0 50px 0;

}

.partners p {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  color:white;
}


.about-donate-area {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.about-donate-area button {
  /*border: #DCC600 solid 4px;*/
  border:none;
  background-color: #DCC600;
  background-color: #B5E5D8;
  background-color: #56BFA7;

  color: white;
  padding: 20px 40px;
  border-radius: 30px;
  margin: 150px 0;
  text-transform: uppercase;
  font-family: dharma-gothic-e, sans-serif;
  letter-spacing: 1px;
  font-size: 22px;
}

.about-donate-area a {
  color:white;
  text-decoration: none;
}

.about-donate-area .podcastbutton {
  width:150px;
  height:150px;
  border-radius: 50%;
  background-color: #F1F9F7;
  border: #96BCB3 solid 1px;
  margin-bottom: 10px;

}

.about-donate-area img {
  width: 70%;
}

.about-donate-area p {
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 1px;
  font-size: 18px;
}


/*------------MOBILE MISSIONS PAGE---------*/


.missions-wrapper {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:100%;
}

.missions-hero {
  display:flex;
  justify-content: center;
  align-items: center;
  width:100%;
}

.missions-hero img {
  width:90%;
  padding-top: 5%;;
}

.missions-hero a {
  width:90%;
}
.missions-desc h2 {
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 22px;
  color:rgb(153, 100, 100);
}

.missions-desc {
  width:80%;
  text-align: center;
}

#fourwindslogo {
  width:70%;
  padding: 40px 0;
}

.missions-desc p {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

.missions-gallery {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:100%;
  padding: 50px 0 80px 0;
}

.missions-gallery img {
  width:60%;
  padding: 30px 15px 40px 15px;
  box-shadow: 20px 20px 30px gray;
  background-color: white;
  margin: 40px 0;
}

.missions-gallery a {
  display:flex;
  justify-content: center;
  align-items: center;
  width:100%;
}

.galleryfooter {
  background-color:#A86A00;
  background-color: #DCC600;
}

.fourwindslink {
  display:flex;
  justify-content: center;
  align-items: center;
}

.fourwindslink button {
  border: #318BCA solid 2px;
  border: rgb(104, 58, 58) solid 2px;
  background-color:transparent;
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 22px;
  padding:20px 30px;
  color:#318BCA;
  color:rgb(104, 58, 58) ;
  margin-bottom: 100px;
}


/*----------MOBILE PASTOR PAGE-------*/

.pastor-section {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:100%;
}

.pastor-scripture {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width:80%;
  padding: 60px 0;
}

.pastor-scripture p {
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 28px;
  margin-top:10px;
  
}

.pastors-para {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px 0;
  background-color: #F1F9F7;
  background-color: #DCC600;

}

.pastors-half {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:90%;
}

.pastors-half h1 {
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 26px;
  padding: 10px 0;
  margin:0;
  color:black;
  width:90%;
  text-align: center;
}


.pastors-half p {
  font-family: 'Open Sans', sans-serif;
  width:90%;
}

.pastors-half img {
  width:90%;
  margin-bottom: 50px;
  /* box-shadow: 20px 20px 40px rgb(168, 168, 168); */
  border-radius: 10px;
}

.usa-list {
  width:100%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  /*background-color: #F1F9F7;*/
  padding: 40px 0 50px 0;
}

.usa-list h2 {
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: normal;
  text-align: center;
}

.pastor-divider {
  width:80%;
  border: black solid 1px;
  margin-top: 30px;
}

.us-half {
  display:none;
}

.us-half-wrap {
  display:none;
}

.wholelist {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.wholelist p {
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
}

.wholelist a {
  text-decoration: none;
}

.wholelist a:visited {
  color:black;
}

.international-list {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:100%;
  padding: 40px 0 60px 0;
  background-color: #DCC600;
  background-color: #F1F9F7;
  position: relative;
}

.international-half a {
  text-decoration: none;
  color:black;
}

.international-half a:visited {
  color:black;
}

.international-list img {
  position: absolute;
  width:60%;
}

.international-list h2 {
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: normal;
}

.wholelist-int {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:100%;
}

.wholelist-int a {
  text-decoration: none;
  color:black;
}

.wholelist-int a:visited {
  color:black;
}

.wholelist-int p {
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
}

.international-half {
  display:none;
}

.thankyou-image {
  display:flex;
  justify-content: center;
  align-items: center;
  width:100%;
}

.thankyou-image img {
  margin: 100px 0 100px 0;
  width:90%;
}

.attribution p {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
}

.about-donate-area {
  background-color: #F1F9F7;
}


/*------MOBILE CALIFORNIA PAGE----*/

.state-image {
  display:flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding:80px 0;
}

.state-image img {
  width:50%;
  position:relative;
}

.state-image h1 {
  position: absolute;
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 36px;
  background-color: white;
}

.ind-pastor {
  display:flex;
  justify-content: center;
  align-items: center;
  width:100%;
}

.ind-pastor-wrap {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:100%;
  padding:70px 0;

}

.ind-pastor-wrapbk {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:100%;
  background-color: black;
  padding:70px 0;
}

.ind-pastor-half {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
}

.ind-pastor-half img {
  width:50%;
  height:50%;
  border-radius: 50%;
}

.pastor-text {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:90%;
  color:white;
}

.pastor-text p a {
  color:#b6f8e9;
  color:#DCC600;
  text-decoration: none;
}

.pastor-text-white {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:90%;
  color:black;
}

.pastor-text-white p a {
  color:#55b49e;
  text-decoration: none;
}

.pastor-text h2 {
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: normal;
  text-align: center;
}

.pastor-text p {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

.ind-pastor-wrapbk button {
  color:black;
  background-color: white;
  border:none;
  padding:20px 30px;
  border-radius: 60px;
  font-family: 'Open Sans', sans-serif;
  margin:60px 0 30px 0;
}

.ind-pastor-wrapbk button a {
  text-decoration: none;
}

.ind-pastor-wrapbk button a:visited {
  color:black;
}

.pastor-text-white h2 {
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: normal;
  text-align: center;
}

.pastor-text-white p {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

.pastor-text-white a {
  text-decoration: none;
  color:#55b49e;
}

.ind-pastor-wrap button {
  color:white;
  background-color: black;
  border:none;
  padding:20px 30px;
  border-radius: 60px;
  font-family: 'Open Sans', sans-serif;
  margin:60px 0 30px 0;
}

.ind-pastor-wrap button a {
  text-decoration: none;
}

.ind-pastor-wrap button a:visited {
  color:white;
}

/*--------MOBILE TEXAS PAGE----*/

.texas-image {
  display:flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding:60px 0;
}

.texas-image img {
  width:60%;
  position:relative;
}

.texas-image h1 {
  position: absolute;
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 36px;
  background-color: white;
}


/*----------MOBILE OKLAHOMA PAGE-----*/

.oklahoma-image {
  display:flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding:60px 0;
}

.oklahoma-image img {
  width:60%;
  position:relative;
}

.oklahoma-image h1 {
  position: absolute;
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 36px;
  background-color: white;
}

/*-----------MOBILE ARIZONA PAGE------*/

.arizona-image {
  display:flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding:60px 0;
}

.arizona-image img {
  width:55%;
  position:relative;
}

.arizona-image h1 {
  position: absolute;
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 36px;
  background-color: white;
}


/*-----------MOBILE DC PAGE------*/
.dc-image {
  display:flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding:60px 0;
}

.dc-image img {
  width:55%;
  position:relative;
  /* opacity: 20%; */
}

.dc-image h1 {
  position: absolute;
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 36px;
  top:26%;
  background-color: white;
}

/*-----------MOBILE SC PAGE------*/

.sc-image {
  display:flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding:60px 0;
}

.sc-image img {
  width:55%;
  position:relative;
}

.sc-image h1 {
  position: absolute;
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 36px;
  background-color: white;
}

/*-----------MOBILE NEW YORK PAGE------*/

.newyork-image {
  display:flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding:60px 0;
}

.newyork-image img {
  width:55%;
  position:relative;
}

.newyork-image h1 {
  position: absolute;
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 36px;
  background-color: white;
}


/*----------MOBILE AUSTRALIA PAGE ---------*/

.australia-image {
  display:flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding:90px 0;
}

.australia-image img {
  width:80%;
  padding-left:25px;
  position:relative;
}

.australia-image h1 {
  position: absolute;
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 36px;
  background-color: white;
}



/*----------MOBILE SOUTH AFRICA PAGE ---------*/

.sa-image {
  display:flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding:90px 0;
}

.sa-image img {
  width:65%;
  padding-left:25px;
  position:relative;
}

.sa-image h1 {
  position: absolute;
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 36px;
  background-color: white;
}


/*----------MOBILE MEXICO PAGE ---------*/

.mexico-image {
  display:flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding:90px 0;
}

.mexico-image img {
  width:80%;
  padding-left:25px;
  position:relative;
}

.mexico-image h1 {
  position: absolute;
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 36px;
  background-color: white;
}

/*----------MOBILE CANADA PAGE ---------*/

.canada-image {
  display:flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding:90px 0;
}

.canada-image img {
  width:80%;
  padding-left:25px;
  position:relative;
}

.canada-image h1 {
  position: absolute;
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 40px;
  background-color: white;
}

/*----------MOBILE IVORY COAST PAGE ---------*/

.ivorycoast-image {
  display:flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding:90px 0;
}

.ivorycoast-image img {
  width:60%;
  position:relative;
}

.ivorycoast-image h1 {
  position: absolute;
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 25px;
  background-color: white;
  text-align: center;
}

/*----------MOBILE PHILIPPINES PAGE ---------*/

.philippines-image {
  display:flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding:90px 0;
}

.philippines-image img {
  width:55%;
  position:relative;
}

.philippines-image h1 {
  position: absolute;
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 40px;
  background-color: white;
  text-align: center;
}









}



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 768px) {

  .twothird-width {
    justify-content: flex-start;
    padding-left: 5%;
  }

  .header-nav h1 {
    font-size: 25px;
  }

  .third-width i {
    font-size: 25px;
  }

  .hero-text p {
    font-size: 26px;
  }

  .hero-text {
    height:70vh;
  }
  
  .dropdown-content {
    min-width: 12em;
  }

  .dropdown-content a {
    font-size: 32px;
  }
  
  .hero {
    height:40vh;
  }

  .hero img {
    width:100%;
    padding-top:30px;
  }

 
  #buttonone {
    width:150px;
    height:150px;
  }

  #buttontwo {
    width:150px;
    height:150px;
  }

  #buttonthree {
    width:150px;
    height:150px;
  }

  .buttons p {
    font-size: 20px;
    padding-bottom: 70px;
  }

  .scripture {
    padding: 200px 0 100px 0;
  }

  .scripture p {
    font-size: 20px;
  }

  .about-radio {
    padding-bottom: 30px;
  }

  .white-text-wrapper h2 {
    font-size: 40px;
    margin-top: 50px;
  }

  .white-text-wrapper p {
    font-size: 20px;
  }

  .white-text-wrapper a {
    font-size:25px;
  }

  .white-text-wrapper button {
    font-size: 24px;
    margin: 50px 0 60px 0;
    letter-spacing: 1px;
    margin-bottom: 100px;
  }

  .donate-area button {
    padding: 20px 42px;
    font-size: 26px;
  }

footer p {
  font-size:18px;
}



/*-------TABLET ABOUT PAGE ---------*/


.about-title img {
  padding-bottom: 100px;
}


.about-section h2 {
  font-size: 50px;
}

.about-section p {
  font-size: 22px;
}

.partners {
  padding-bottom: 100px;
}
.partners h2 {
  font-size: 50px ;
}

.four-winds h3 {
  font-size:28px;
  font-family: 'Bebas Neue', cursive;
    letter-spacing: 1px;
    font-weight: normal;
}

.partners p {
  font-size: 22px;
  width:80%;
  margin:0 auto;
}

.global-women h3 {
  font-family: 'Bebas Neue', cursive;
    letter-spacing: 1px;
  font-size:28px;
  font-weight: normal;
}

.four-winds {
  padding-bottom: 270px;
}

.four-winds img {
  padding-top: 100px;
  width:90%;
}

.ccclogo {
  width:40%;
  padding: 80px 0 50px 0;
}

.about-donate-area .podcastbutton {
  width:200px;
  height:200px;
}

.about-donate-area p {
  font-size: 25px;
}

.about-donate-area button {
  padding: 24px 55px;
  border-radius: 40px;
  font-size: 30px;
}


/*---------TABLET MISSIONS PAGE---------*/


.missions-desc h2 {
  font-size: 28px;
}

.missions-desc {
  width:60%;
  padding-top: 35px;
}

#fourwindslogo {
  padding: 70px 0;
}

.missions-desc p {
  font-size: 20px;
}

.missions-gallery img {
  width:100%;
  padding:20px 20px 100px 20px;
}

.missions-gallery a {
  width:35%;
  margin: 0 42px 140px 42px;
}


.missions-gallery {
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  padding-top: 100px;
}


/*---------TABLET PASTOR PAGE---------*/


.pastor-scripture p {
  font-size: 40px;
}

.pastor-scripture {
  padding:90px 0;
}

.pastors-half h1 {
  font-size: 40px;
  padding: 10px 0;
  text-align: center;
  margin:0;
}

.pastors-half img {
  margin-bottom: 100px;
}

.pastors-half p {
  font-size: 23px;
  text-align: center;
}

.pastors-para {
  padding-bottom: 120px;
}

.usa-list {
  padding:80px 0 100px 0;
}

.usa-list h2 {
  font-size: 40px;
}

.wholelist p {
  font-size: 22px;
}

.international-list {
  padding: 80px 0 100px 0;
}

.international-list h2 {
  font-size: 40px;
}

.wholelist-int p {
  font-size: 22px;
}

.thankyou-image img {
  margin: 250px 0;
}


/*-------------TABLET CALIFORNIA PAGE-------*/

.state-image img {
  width: 40%;
  padding:100px 0;
}

.state-image h1 {
  font-size: 55px;
}

/*------ black background----*/
.ind-pastor-wrapbk {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.pastor-text {
  align-items: flex-start;
}

.pastor-text h2 {
  font-size: 30px;
  text-align: left;
}

.pastor-text p {
  text-align: left;
  font-size:20px;
}

.ind-pastor-wrapbk button {
  width:50%;
  font-size: 20px;
}

/*----------white background------*/

.ind-pastor-wrap {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.ind-pastor-wrap button {
  width:50%;
  font-size: 20px;
}

.pastor-text-white {
  align-items: flex-start;
}

.pastor-text-white h2 {
  font-size: 30px;
  text-align: left;
}

.pastor-text-white p {
  text-align: left;
  font-size: 20px;
}


/*--------TABLET TEXAS PAGE-------*/


.texas-image img {
  width:50%;
  position:relative;
  padding: 70px 0;
}

.texas-image h1 {
  position: absolute;
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 40px;
}


/*---------TABLET OKLAHOMA PAGE-----*/

.oklahoma-image img {
  width:50%;
  position:relative;
  padding: 70px 0;
}

.oklahoma-image h1 {
  position: absolute;
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 40px;
  background-color: white;
}

/*----------TABLET ARIZONA PAGE-----*/

.arizona-image img {
  width:40%;
  padding: 80px 0;
}

.arizona-image h1 {
  position: absolute;
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 40px;
}

/*----------TABLET DC PAGE-----*/

.dc-image img {
  width:37%;
  padding: 80px 0;
}

.dc-image h1 {
  position: absolute;
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 50px;
  top:27%;
}

/*----------TABLET SC PAGE-----*/

.sc-image img {
  width:37%;
  padding: 80px 0;
}

.sc-image h1 {
  position: absolute;
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 50px;
}


/*----------TABLET NEW YORK PAGE-----*/

.newyork-image img {
  width:60%;
  padding: 80px 0;
}

.newyork-image h1 {
  position: absolute;
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 50px;
}


/*----------TABLET AUSTRALIA PAGE-----*/

.australia-image img {
  width:60%;
  padding: 80px 0px 80px 40px;
  
}

.australia-image h1 {
  position: absolute;
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 50px;
}



/*----------TABLET SOUTH AFRICA PAGE-----*/

.sa-image img {
  width:60%;
  padding: 80px 0px 80px 40px;
  
}

.sa-image h1 {
  position: absolute;
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 50px;
}



/*----------TABLET MEXICO PAGE-----*/

.mexico-image img {
  width:70%;
  padding: 80px 0px 80px 40px;
  
}

.mexico-image h1 {
  position: absolute;
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 50px;
}


/*----------TABLET CANADA PAGE-----*/

.canada-image img {
  width:60%;
  padding: 80px 0px 80px 40px;
  
}

.canada-image h1 {
  position: absolute;
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 55px;
}


/*----------TABLET IVORY COAST PAGE-----*/

.ivorycoast-image img {
  width:40%;
  padding: 80px 0px;
  
}

.ivorycoast-image h1 {
  position: absolute;
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 38px;
}



/*----------TABLET PHILIPPINES PAGE-----*/

.philippines-image img {
  width:30%;
  padding: 80px 0px;
  
}

.philippines-image h1 {
  position: absolute;
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 45px;
}






}


@media only screen and (min-width: 1200px) {

main {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-wrapper {
  padding-bottom: 100px;
}
.twothird-width {
  width:70%;
}

.third-width {
  background-color: black;
  background-color: #DCC600;
  background-color: #64D0B7;
  padding:20px;
  width:30%;
}

.third-width i {
  display:none;
}

figure {
  padding-left: 30px;
}

.logo img {
  width: 13%;
}

.header-nav {
  background-color: white;
}
.header-nav h1 {
  font-size: 35px;
  padding-left: 15px;
  padding-top: 0;
  margin:0;
}

.desktop-nav {
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.desktop-nav ul {
  list-style-type: none;
  padding-left:0;
}

nav li {
  display:inline-block;
}

nav li a {
  color:white;
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 1px;
  font-size: 22px;
  padding: 0 16px;
  text-decoration: none;
}

nav li a:hover {
  color:black;
  transition: all 260ms linear;
}

.hero-slideshow {
  display:flex;
  justify-content: center;
  align-items: center;
}

.hero {
  display:flex;
  justify-content: center;
  align-items: center;
  height:115vh;
  padding-bottom: 300px;
}

.hero-text {
  top:160%;
  height:20vh;
}

.hero img {
  width:100%;
  margin-top: 100px;
}

.hero-text p {
  font-size: 40px;
  width:60%;
}


.buttons {
  flex-direction: row;
  flex-flow: row wrap;
  padding-top: 140px;
}

.button-wrap {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 100px;
}

#buttonone {
  width: 170px;
  height: 170px;
}

#buttontwo {
  width: 170px;
  height: 170px;
}

#buttonthree {
  width: 170px;
  height: 170px;
}

#buttonone:hover {
  background-color: #beffee;
  transition: all 250ms linear;
}

#buttontwo:hover {
  background-color: #97e5d3;
  transition: all 250ms linear;
}

#buttonthree:hover {
  background-color: #f0d804;
  transition: all 250ms linear;
}

.scripture {
  display:none;
  padding: 320px 0 300px 0;
}

.scripture img {
  width:30%;
}

.scripture p {
  font-size: 30px;
}


.about-radio {
  width:80%;
  margin-top: 200px;
  padding: 50px 0 50px 0;
  background-color: #E6F6FF;
  background-color: #F1F9F7;
  flex-direction: row;
}


.white-text-wrapper {
  padding: 100px 0;
  background-color: #F1F9F7;

  width:450px;
  height:200px;

}

.white-text-wrapper h2 {
  margin-top: 20px;
}

.white-text-wrapper a {
  color:#56BFA7;
  font-weight: bold;
  font-size:22px;
  padding-bottom: 20px;
  position: relative;
}

.white-text-wrapper a::after {
  content: '';
  position: absolute;
  left:0;
  bottom:0;
  width:100%;
  height:2px;
  background:currentColor;

  transform: scaleX(0);
  transform-origin: left;
  transition: transform 250ms ease-in;
}

.white-text-wrapper a:hover::after {
  transform:scaleX(1);
}

.divider {
  display:none;
}

.biblepic {
  width:60%;
  position: relative;
}


.donate-area button {
  padding: 30px 60px;
  border-radius: 50px;
  font-size: 40px;
  background-color: #56BFA7;
  color:white;
}

.donate-area button:hover {
  background-color: #56dbbc;
  transition: all 250ms linear;

}

.donate-area {
  padding: 100px 0;
}

.social-med {
  padding:60px 0;
}

.social-med i {
  font-size: 60px;
}

footer p {
  font-size: 25px;
  margin:0;
}

footer {
  padding-top: 80px;
}

.copyright p {
  font-size: 20px;
}


/*-----------DESKTOP ABOUT PAGE --------------*/



.about-section {
  flex-direction: row;
  justify-content: space-around;
  padding-top: 150px;
  margin:0 auto;
}

#interviewphoto {
  box-shadow: 20px 20px 60px rgb(158, 158, 158);
  padding:0;
}

.about-half {
  width: 40%;

}

.about-title {
  display:none;
}

.about-title-desktop {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-title-desktop h2 {
  margin-bottom: 100px;
  color:#a7d2d2;
  font-size:70px;
  letter-spacing: 3px;
}

.about-title-desktop img {
  opacity: 15%;
  width:80%;
  padding: 0;
  top:100px;
  left:1200px;
} 

.about-divider {
  display:none;
}

.partners {
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width:90%;
  text-align: left;
  margin:100px 0 400px 0;
  border-radius: 30px;
background-color: #DCC600;
}

.partner-sections {
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.partners p {
  text-align: left;
  margin:0;
}
.partners h2 {
  padding-left: 10%;
  color:white;
  font-size:60px;
  padding-bottom: 0;
}

.four-winds {
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 170px;
}

.four-winds-desc {
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width:50%;
  text-align: left;
  color:white;
}

.four-winds img {
  width: 100%;
  padding-top: 0;
}

.four-winds h3 {
  text-align: left;
  margin:0;
  font-size: 40px;
}


.global-women {
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 10px;
}

.gw-desc {
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width:50%;
  text-align: left;
  color:white;
}

.global-women img {
  width:100%;
  padding-top: 0;
}

.global-women a {
  width:20%;
}

.gw-desc a {
  width:80%;
}

.global-women h3 {
  text-align: left;
  margin:0;
  font-size: 40px;
}

/*.global-women {
  flex-direction: row;
  justify-content: space-between;

}

.gw-desc {
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
  color:white;
}

.global-women h3 {
  margin:0;
  text-align: left;
  font-size: 40px;
}

.ccclogo {
  width:40%;
  padding: 80px 0 50px 0;
}*/

.partner-divider {
  border: white solid 2px;
  width:50%;
  margin-left:10%;
  margin-bottom: 100px;
}

.psalm {
  display:flex;
  justify-content: center;
  align-items: center;
  width:80%;
  margin-bottom: 500px;
  text-align: center;
  position: relative;
}

.psalm img {
  opacity: 15%;
  width:25%;
  padding: 0;
  position: absolute;
  top: -54px;
  left: 38%;
}

.psalm h1 {
    font-family: 'Dancing Script', cursive;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 1px;
    font-weight: lighter;
    font-size: 50px;
    color:#43b398;

}
.about-donate-area button:hover {
  background-color: #56dbbc;
  transition: all 250ms linear;
}

.about-donate-area .podcastbutton:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  background-color: rgb(206, 228, 224);
}


/*----------DESKTOP MISSIONS PAGE----------*/

.missions-gallery {
  width:90%;
  padding-top: 200px;
}
.missions-desc h2 {
  font-size: 36px;
  text-transform: none;
}

#fourwindslogo {
  padding: 80px 0;
  width:40%;
}

.missions-desc p {
  font-size: 25px;
}

.missions-gallery a {
  width:30%;
  margin: 0 20px 140px 20px;
}

.missions-gallery img {
  padding-bottom: 80px;
  margin: 100px 60px 200px 60px;
}

.fourwindslink button {
  padding: 30px 40px;
  font-size: 25px;
}

.fourwindslink button:hover {
  background-color: transparent;
  border:rgb(255, 234, 234) solid 3px;
  color:white;
  color:rgb(196, 125, 125);
  transition: all 260ms linear;

}

/*--------DESKTOP PASTOR PAGE--------*/

.pastor-scripture {
  padding:180px 0;
}

.pastor-scripture p {
  font-size: 55px;
}
.pastors-para {
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-top: 80px;
}

.pastors-half img {
  width: 80%;
  margin:0;
}

.pastors-half p {
  width: 70%;
  line-height: 40px;
  text-align: left;
  align-self:flex-start;
  padding-left:80px;
  margin:0;
}

.pastors-half h1 {
  font-size: 45px;
  align-self:flex-start;
  padding-left:80px;
  text-align: left;
  padding-top: 0;
  padding-bottom: 10px;
  margin:0;
}

.wholelist {
  display: none;
}

.usa-list {
  align-items: flex-start;
  width:100%;
}

.usa-title {
  display:none;
}

.us-half-wrap {
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width:100%;
}

.us-half {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.usa-half2 {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.us-half2 span {
  color:transparent;
}


.us-half p {
  font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    text-align: left;
    font-size: 26px;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    color:#56BFA7;
}

.us-half p:hover, .us-half p:focus, .us-half p:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  color:#56BFA7;
}


/* .us-half p::after {
  content: '';
  position: absolute;
  left:0;
  bottom:0;
  width:100%;
  height:2px;
  background:currentColor;

  transform: scaleX(0);
  transform-origin: left;
  transition: transform 250ms ease-in;
}

.us-half p:hover::after {
  transform:scaleX(1);
}
 */


.us-half2 p {
  font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    text-align: left;
    font-size: 26px;
    margin:36px 0;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    color:#56BFA7;
}

.us-half2 p:hover, .us-half2 p:focus, .us-half2 p:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  color:#56BFA7;
  font-weight: normal;

}


/* .us-half2 p::after {
  content: '';
  position: absolute;
  left:0;
  bottom:0;
  width:100%;
  height:2px;
  background:currentColor;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 250ms ease-in;
}

.us-half2 p:hover::after {
  transform:scaleX(1);
} */

.us-half2 a {
  text-decoration: none;
}


.international-list h2 {
  display:none;
}

.wholelist-int {
  display:none;
}

.international-half-wrap {
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width:100%;
}

.international-half {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.international-half p {
  font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    text-align: left;
    font-size: 26px;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.international-half p:hover, .international-half p:focus, .international-half p:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  font-weight: bold;
  
}

/* .international-half p::after {
  content: '';
  position: absolute;
  left:0;
  bottom:0;
  width:100%;
  height:2px;
  background:currentColor;

  transform: scaleX(0);
  transform-origin: left;
  transition: transform 250ms ease-in;
}

.international-half p:hover::after {
  transform:scaleX(1);
} */

.international-half h2 {
  display:flex;
}

.international-half span {
  color:transparent;
}
.thankyou-image img {
  width:60%;
  padding: 50px 0;
}




/*----------DESKTOP CALIFORNIA PAGE--------*/

.state-image img {
  width:20%;
  margin:80px 0;
}
.state-image h1 {
  font-size: 65px;
}

/*------ black background----*/
.ind-pastor-half img {
  width:38%;
}

.ind-pastor-wrapbk {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.pastor-text {
  align-items: flex-start;
}

.pastor-text h2 {
  font-size: 36px;
}

.pastor-text p {
  text-align: left;
  font-size:24px;
}

.ind-pastor-wrapbk button {
  width:26%;
  font-size: 22px;

  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}


.ind-pastor-wrapbk button:hover, .ind-pastor-wrapbk button:focus, .ind-pastor-wrapbk button:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}


/*----------white background------*/

.ind-pastor-wrap {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.pastor-text-white {
  align-items: flex-start;
}

.pastor-text-white h2 {
  font-size: 36px;
}

.pastor-text-white p {
  text-align: left;
  font-size: 24px;
}

.ind-pastor-wrap button {
  width:26%;
  font-size: 22px;

  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.ind-pastor-wrap button:hover, .ind-pastor-wrap button:focus, .ind-pastor-wrap button:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}


/*---------DESKTOP TEXAS PAGE-----*/

.texas-image img {
  width:25%;
  padding: 100px 0;
}

.texas-image h1 {
  font-size: 55px;
}


/*---------DESKTOP OKLAHOMA PAGE-----*/

.oklahoma-image img {
  width:30%;
  padding: 180px 0;
}

.oklahoma-image h1 {
  font-size: 55px;
}


/*---------DESKTOP ARIZONA PAGE-----*/

.arizona-image img {
  width:25%;
  padding: 180px 0;
}

.arizona-image h1 {
  font-size: 55px;
}


/*---------DESKTOP DC PAGE-----*/

.dc-image img {
  width:17%;
  padding: 180px 0;
}

.dc-image h1 {
  font-size: 55px;
  top:40%;
}

/*---------DESKTOP SC PAGE-----*/

.sc-image img {
  width:30%;
  padding: 180px 0;
}

.sc-image h1 {
  font-size: 55px;
}

/*---------DESKTOP NEW YORK PAGE-----*/


.newyork-image img {
  width:30%;
  padding: 180px 0;
}

.newyork-image h1 {
  font-size: 55px;
}



/*---------DESKTOP AUSTRALIA PAGE-----*/


.australia-image img {
  width:40%;
  padding: 100px 0 100px 60px;
}

.australia-image h1 {
  font-size: 55px;
}


/*---------DESKTOP SOUTH AFRICA PAGE-----*/


.sa-image img {
  width:30%;
  padding: 100px 0 100px 60px;
}

.sa-image h1 {
  font-size: 55px;
}


/*---------DESKTOP MEXICO PAGE-----*/


.mexico-image img {
  width:40%;
  padding: 100px 0 100px 60px;
}

.mexico-image h1 {
  font-size: 55px;
}


/*---------DESKTOP CANADA PAGE-----*/

.canada-image img {
  width:40%;
  padding: 100px 0 140px 60px;
}

.canada-image h1 {
  font-size: 70px;
}


/*---------DESKTOP IVORY COAST PAGE-----*/

.ivorycoast-image img {
  width:20%;
  padding: 100px 0 140px 0;
}

.ivorycoast-image h1 {
  font-size: 50px;
}


/*---------DESKTOP PHILIPPINES PAGE-----*/

.philippines-image img {
  width:25%;
  padding: 50px 0 100px 0;
}

.philippines-image h1 {
  font-size: 60px;
}





}



@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {

  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " ("attr(href) ")";
  }

  abbr[title]:after {
    content: " ("attr(title) ")";
  }

  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
